@tailwind base;
@tailwind utilities;
@tailwind components;

.swiper-pagination-bullet-active {
  @apply bg-primary !important
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply text-primary
  }

  img {
    @apply select-none
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }

  section {
    padding: 60px 0;
  }

  section:not(:first-of-type):nth-of-type(odd) {
    background-color: #fbfbfb;
  }
}

@layer components {
  .container {
    margin: 0 auto;
    padding: 0 15px;
  }
  @media (max-width: 639px) {
    .container {
      max-width: 100%;
    }
  }
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
}